*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before{
    display: block;
    content: "";
    height: 70px;
    background: black;
}

#movieCards{
    background: black;
    color: white;
}

.card{
    padding: 0 !important;
    margin: 0 5px !important;
    width: 11rem;
    height: 16.5rem;
    border: none !important;
    box-shadow: 0 0 4px 4px white;
}

.card:hover{
    transform: scale(1.05);
    transition: .5s;
}

.card img{
   height: 15rem;
   width: 100%;
   border-radius: 10px;
}
